.card {
  width: 20vw;
  padding: 35px, 10px, 10px, 10px;
  border-radius: 5px;
  background-color: rgba(61, 61, 61, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;

  a {
    font-weight: bold ;
    text-align: left;
    align-self: stretch;
  }

  h6 {
    text-align: right;
    font-weight: bold;
    color: whitesmoke;
  }

  p {
    color: whitesmoke;
    font-style: italic;
  }
}

@media (max-width: 768px) {
  .card {
    width: 80vw;
    height: 20vh;
  }
}
