<div class="navbar">
  <h1>Mon app ciména</h1>
  <div class="container">
   -
      <h3><%= link_to "Créer une liste", new_list_path %></h3>
      <h3><%= link_to "Voir la liste des films", movies_path %></h3>
      <h3><%= link_to "retour aux listes", lists_path %></h3>

  </div>
</div>
