<nav class="navbar">
<H1>Mon app de films</H1>
  <%= link_to 'Accueil', root_path %>
  <%= link_to 'Listes', lists_path %>
  <%= link_to 'Films', movies_path %>
  <!-- Ajoutez d'autres liens ici selon vos besoins -->
</nav>
